* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 90%;
}
body {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
}
.title {
    background-color: lightgray;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    padding: 1rem;
}
.main {
    width: 70%;
    margin: auto;
    padding: 4rem;
    margin-top: 3rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
}
.add-item {
    padding: 0.5rem;
}
.add-item-title {
    text-align: left;
    font-size: 1.5rem;
    display: flex;
}
.add-item-title p {
    padding: 0.5rem;
    border: 0.1px solid black;
    margin-right: 0.2rem;
    cursor: pointer;
}
.add-item-form-holder {
    margin-top: 0.5rem;
    border: 0.1rem solid black;
    padding: 3rem 0rem;
}
form {
    width: 70%;
    margin: auto;
}
form input {
    text-align: center;
    padding: 0.8rem;
    border: 0.1rem solid black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1rem;
}

#addItemName {
    width: 100%;
    margin-bottom: 2rem;
}
#addItemQuantity {
    width: 50%;
}
#addItem {
    width: 15%;
    float: right;
    background-color: lightgray;
    cursor: pointer;
}
#editItemName {
    width: 100%;
    margin-bottom: 2rem;
}
#editItemQuantity {
    width: 50%;
}
#editItem {
    width: 15%;
    float: right;
    background-color: lightgray;
    cursor: pointer;
}
.grocery {
    padding: 0.5rem;
    margin-top: 2rem;
}
.grocery-title {
    text-align: left;
    font-size: 1.5rem;
    border: 0.1px solid black;
    width: fit-content;
    padding: 0.5rem;
    background-color: lightgray;
    cursor: default;
}
.grocery-holder {
    margin-top: 0.5rem;
    border: 0.1rem solid black;
    padding: 3rem 0rem;
    overflow: scroll;
    max-height: 30rem;
}
.grocery-list {
    list-style: none;
    width: 70%;
    margin: auto;
}
.grocery-list-item {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 2rem;
    border: 0.1rem solid black;
    display: flex;
    justify-content: space-evenly;
}
.grocery-list-item .name {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.grocery-list-item .quantity {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: left;
}
.grocery-list-item button {
    padding: 0.6rem;
    width: 12%;
    background-color: lightgray;
    border: 0.1rem solid black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 1rem;
    text-align: center;
    cursor: pointer;
}
.active {
    background-color: lightgray;
}
.hidden {
    display: none;
}
@media only screen and (min-width: 1000px) and (max-width: 1240px) {
    html {
        font-size: 90%;
    }
    .main {
        width: 80%;
    }
    .grocery-holder {
        max-height: 56rem;
    }
}
@media only screen and (min-width: 750px) and (max-width: 1000px) {
    html {
        font-size: 135%;
    }
    .main {
        width: 95%;
        padding: 1rem;
    }
    .grocery-list {
        width: 95%;
    }
    .grocery-holder {
        max-height: 50rem;
    }
}
@media only screen and (min-width: 580px) and (max-width: 750px) {
    html {
        font-size: 90%;
    }
    .main {
        width: 95%;
        padding: 1rem;
    }
    .grocery-list {
        width: 85%;
    }
    .grocery-holder {
        max-height: 70rem;
    }
}

@media only screen and (min-width: 410px) and (max-width: 580px) {
    html {
        font-size: 90%;
    }
    .main {
        width: 95%;
        padding: 0.5rem;
    }
    form {
        width: 92%;
    }
    .grocery-list {
        width: 92%;
    }
    .grocery-list-item .name {
        width: 50%;
    }
    .grocery-list-item .quantity {
        width: 10%;
    }
    .grocery-list-item button {
        padding: 0.6rem;
        width: 18%;
    }
    .grocery-holder {
        max-height: 70rem;
    }
}
@media only screen and (min-width: 300px) and (max-width: 410px) {
    html {
        font-size: 90%;
    }
    .main {
        width: 95%;
        padding: 0.5rem;
    }
    form {
        width: 92%;
    }
    #itemQuantity {
        width: 50%;
    }
    #addItem {
        width: 25%;
        float: right;
        background-color: lightgray;
    }
    .grocery-list {
        width: 92%;
    }
    .grocery-list-item .name {
        width: 50%;
    }
    .grocery-list-item .quantity {
        width: 10%;
    }
    .grocery-list-item button {
        padding: 0.6rem;
        width: 20%;
    }
    .grocery-holder {
        max-height: 70rem;
    }
}
